---
layout: default
permalink: /projects/
title: Projects
search_exclude: true
---
<h1>Portfolio projects, side projects &amp; toys created along the way</h1>

{% for post in site.categories["Projects"] %}
<ul class="post-list">
    {% if post.hide != true %}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <li>
                <div class="roundbox">
                  {%- if site.show_image -%}
                      {%- include post_list_image_card.html -%}
                  {% else %}
                      {%- include post_list.html -%}
                  {%- endif -%}
                </div>
              </li>
    {% endif %}
</ul>
{% endfor %}
