---
layout: default
permalink: /projects/
title: Projects
search_exclude: true
---
<h2>Portfolio projects, side projects &amp; toys created along the way</h2>

{% for post in site.categories["Projects"] %}
    {% if post.hide != true %}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <article class="archive-item">
          <p class="post-meta post-meta-title">
              {{ post.date | date: date_format }}</br>
              <a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
          </p>
        </article>
    {% endif %}
{% endfor %}
