---
layout: default
permalink: /projects/
title: Projects
search_exclude: true
---
<h1>Portfolio projects, side projects &amp; toys created along the way</h1>

{% for post in site.categories["Projects"] %}
    {% if post.hide != true %}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <article class="archive-item">
          <p class="post-meta post-meta-title">
              <div class="roundbox">
                  <a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></br>
                  {{ post.summary }} </br>
                  {{ post.date | date: date_format }}
              </div>
          </p>
        </article>
    {% endif %}
{% endfor %}
